{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

  {% if request.GET.command == 'varification' %}
  <div class="container mx-auto alert alert-info" style="max-width: 380px; margin-top:100px;">
    Thank you for registaring with us. We have sent you a varification email to your email address [{{ request.GET.email }}]. Please varify it.

    <br><br>
    Already Varify <a href="{% url 'login' %}">Login</a>

  </div>
  {% else %}

    <!-- ============================ COMPONENT LOGIN   ================================= -->
        <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
          <div class="card-body">
            {% include '__partial/alert.html' %}
          <h4 class="card-title mb-4">Sign in</h4>
          <form action="{% url 'login' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address" name="email" >
              </div> <!-- form-group// -->
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" name="password" >
              </div> <!-- form-group// -->
              
              <div class="form-group">
                  <a href="{% url 'forgotPassword' %}" class="float-right">Forgot password?</a> 
               
              </div> <!-- form-group form-check .// -->
              <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Login  </button>
              </div> <!-- form-group// -->    
          </form>
          </div> <!-- card-body.// -->
        </div> <!-- card .// -->
    
         <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
         <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
   {% endif %} 
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    

{% endblock %}